body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    min-width: 260px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border: 10px;
    animation: colorchange 15s;
    -webkit-animation: colorchange 15s; 
}

    @keyframes colorchange {
        0%   {background: coral;}
        25%  {background: rgb(226, 174, 31);}
        50%  {background: rgb(112, 131, 8);}
        75%  {background: rgb(10, 201, 201);}
        100% {background: coral;}
    }
  
    @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */ {
        0%   {background: coral;}
        25%  {background: rgb(226, 174, 31);}
        50%  {background: rgb(112, 131, 8);}
        75%  {background: rgb(10, 201, 201);}
        100% {background: coral;}
    }

img {
    max-width: 900px;
    display: block;
    height: auto;
    margin: auto;
    background-color: white;
}

#img-div {
    margin:-5px;
    margin-top:20px;
    margin-left: -55px;
    width:800px;;
    border:50px solid rgb(40, 97, 2);
    border-bottom: 18px;
    background:rgb(40, 97, 2);
}

#subtitle {
    text-align: center;
    color: rgb(2, 27, 29);
}
h1 {
    text-align: center;
    color: rgb(2, 27, 29);
}

li {
    color: rgb(2, 27, 29);
}

#img-caption {
    text-align: center;
    height: 35px;
    position: relative;
    padding-top: 15px;
    top: -19px;
    color: rgb(2, 27, 29);
}

#tribute-link {
    margin-left: 40px;
}

#skylineList {
    color: rgb(2, 27, 29);
}